.calculator{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.grid-container{
    display: grid;
    grid-template-areas: 'display display display'
    'operands operands operators'
    'operands operands operators';
    border-style: solid;
    border-color: black;
    min-width: 500px;
    min-height: 500px;
}

.grid-container > div{
    text-align: center;
}

.display{
    grid-area: display;
    padding-bottom: 2rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    background-color: rgba(12, 15, 1, 0.863);
    justify-content: center;
}

.operators{
    grid-area: operators;
    display: grid;
    font-size: 3rem;
    background-color: black;
    color: lightblue;
    border-left: 1px solid gray;
}

.operands{
    display: grid;
    grid-area: operands;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    color: white;
}

button:focus, button:hover{

    cursor: pointer;

}

button{
position: relative;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

button:after {
    content: "";
  background: gray;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

button.digit{
    font-size: 2em;
    background-color: black;
    color: white;
    border: none;
}

.clear{
    font-size: 3rem;
    background-color: black;
    color: lightblue;
    border-left: 1px solid gray;
    border: none;
}

.operator{
    font-size: 3rem;
    background-color: black;
    color: lightblue;
    border-left: 1px solid gray;
    border: none;
}


